@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

:root{
    --color-black-900: #000100 ;
    --color-gray-50: #A1A6B4 ;
    --color-gray-100: #333333 ;
    --color-white-50: #F8F8F8;
    --color-blue-100: #B4D2E7;
    --color-blue-200: #94C5CC;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: lighter;
}
body{
    height: 100vh;
    width: 100%;
    background: var(--color-white-50);
    color: var(--color-gray-100);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a{
    text-decoration: none;
    color: var(--color-gray-100);
    transition: 0.2s ease-out;
}