
:root{
    --color-black-900: #000100 ;
    --color-gray-50: #A1A6B4 ;
    --color-white-50: #F8F8F8;
    --color-blue-100: #B4D2E7;
    --color-blue-200: #94C5CC;
}


header{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header h1{
    font-size: 24px;
    font-weight: bold;
    cursor:pointer;
}
header i {
    margin: 0px 10px;
    font-size: 1.7em;
    padding: 10px;
    width: 25px;
    color: var(--color-blue-200);

}
header i:hover{
    transform: scale(1.5);
    transition: 0.2s ease-out;
    color: var(--color-gray-50);
}

.card img{
    width: 90px;
}

main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.conteudo-principal{
    display: flex;
    flex-direction: column;
}
main .conteudo-principal h2{
    font-weight: bold;
    font-size: 2.2em;
    margin-bottom: 1%;
}
main .conteudo-principal .textos{
    margin-bottom: 10%;
}
main .conteudo-principal p{
    font-size: 16px;
    font-weight: 300;
    width: 75%;
}
main .techs .container-techs{
    display: flex;
    align-items: center;
}
main .techs .container-techs .card{
    width: 120px;
    height: 120px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-right: 1.8rem;
    border-radius: 10px;
    background: #333333;
    transition: box-shadow 0.25s ease-out;
}
main .techs .container-techs .card img
{
    width: 80%;

}
main .techs .container-techs .card:hover{
    box-shadow: 0px 0px 0px 8px var(--color-gray-50);
}
main figure{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main figure img{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    margin-bottom: 6%;
    border: 1px solid var(--color-blue-200);
    transition: 0.2s ease-in-out;
}
main figure img:hover{    box-shadow: 0px 0px 0px 6px var(--color-gray-50);

}
footer{
    padding: 10px;
    text-align: center;
    background: var(--color-gray-50);
}