
:root{
    --color-black-900: #000100 ;
    --color-gray-50: #A1A6B4 ;
    --color-white-50: #F8F8F8;
    --color-blue-100: #B4D2E7;
    --color-blue-200: #94C5CC;
}


header{
    padding: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}
header h1{
    font-size: 24px;
    font-weight: bold;
    cursor:pointer;
}
header i {
    padding: 10px;
    width: 25px;
}
header i:hover{
    transform: scale(1.5);
}

.card img{
    width: 90px;
}
figure img{
    width: 200px;
    height: 200px;
    border-radius: 100%;
}